    body{
        background-color: #8C8C8C;
    }
    table{
        border-collapse: collapse;
    }
    td{
        border: 2px solid black;
        padding: 2px 10px;
    }
    p, td, h1{
        font-family: Arial, sans-serif;
        text-align: center;
    }
    header{
        background-color:  rgba(0,0,0,0.25);
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .innpakning{
        display: flex;
        flex-direction: row;
    }
    .row1{
        display: block;
        margin: 0 auto;
        border: 1px solid black;
        border-radius: 5px;
        padding: 25px;
        background-color: rgba(0,0,0,0.25);
    }
    .row1 table{
        margin: 0 auto;
    }
    #form{
        display:block;
        text-align:center;
        padding:10px;
    }