 .rad{
     background-color: #ACACAC;
     font-weight: bold;
 }
 .innpakning{
     display: flex;
     flex-direction: column;
 }
 .header{
     background-color: #ACACAC;
     width: 100%;
     text-align: center;
     border: 3px solid black;
 }
 body{
     background-color: #797979;
 }
 .row{
     display: flex;
     flex-direction: row;
     border: 3px solid black;
     margin: 0 auto;
     padding: 50px;
     margin: 20px 0;
     border-radius: 5px;
 }
 .con1 table{
    margin: 0 auto;
    border-collapse: collapse;
    flex-basis: 500px;
}
.con1{
    flex-basis: 40%;
    background-color: rgba(0,0,0,0.1);
    padding: 50px;
    border-radius: 3px;
    border: 2px solid black;
}
 form{
    display:block;
    text-align:center;
    padding:10px;
}
input{
    margin: 10px 0;
}
p, td, h1{
    font-family: Arial, sans-serif;
    text-align: center; 
}
td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
}